<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/car_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RideApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RideApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".payment.PaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.GOOGLE_SIGN_IN_API_KEY"
            android:value="623334048704-it053jblnlunnmtnqsam7n5f3s7le42c.apps.googleusercontent.com"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCH1SozcPaGqwD24_IivdQUTMzuG-SFOPw" />
    </application>
</manifest>